

.container-login{
    background: rgba(255,255,255,0.6);
    color: white !important;
    padding: 10px 50px;
    border-radius: 40px;
    transition: 0.3s;
}
.container-login:hover{
    color: #adc90e!important;
    background: rgba(255,255,255,0.9);
    padding: 10px 50px;
    border-radius: 40px;
}

.btnRadio{
    color: white;
    font-size: 1.5em;
}

.radios{
    display: flex;
    align-items: center;
    justify-content: center;
}
.interno-radio{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.text-center {
    text-align: center!important;
}
.cover-container {
    max-width: 80em;
}

.mb-auto, .my-auto {
    margin-bottom: auto!important;
}
.mat-radio-button.mat-accent .mat-radio-inner-circle {
    border-color: #adc90e !important;
}
.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple {
    background-color: #e3ff2d !important;
}
.btn-primary {
    color: #fff;
    background-color: #adc910;
    border-color: #adc910;
}
.modal-font {
    font-size: 19px;
    color: #565656;
}
.modal-footer2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border: none;
}
.logo-img {
    width: 280px;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
    .logo-img {
        width: 180px;
    }
    .nav-labels{
        font-size: 18px !important; 
    }
    .btnRadio{
        font-size: 0.9em;
    }
    .modal-font {
        font-size: 16px;
    }

    .menu-name-label{
        padding-top: 15px;
    }
    .login{
        color: white;
        font-size: 15px;
    }
    
}
.nav-labels{
    color: #adc910; 
    font-size: 20px; 
    font-weight: bold;
}

.footer-text{
    color: #adc910; 
    font-size: 14px;
    text-align: center;
}

.bg-color{
    background-color: #333333 !important;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
}
.bg-img{
      /* The image used */
  background-image: url("../assets/bg-5.jpg");

  /* Full height */
  height: 100%;
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 100%;
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.div-nav{
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
}

.menu-name-label{
    display: flex; 
    justify-content: flex-end; 
    align-items: center;
}

.cover-heading{
    text-align: center;
    color: white;
    font-size: 2.5rem;
    padding-bottom: 30px;
}

.lead{

    text-align: center;
    color: white;
}


.example-form {
    min-width: 150px;
    max-width: 500px;
    padding: 20px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }


.mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: #333333 !important;
}

label#mat-form-field-label-1{
    color: #333333 !important;
}

::ng-deep .mat-focused .mat-form-field-label .mat-form-field-appearance-legacy.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label, .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    /*change color of label*/
    color: #333333 !important;
}

::ng-deep  #mat-form-field-label-1{
    /*change color of label*/
    color: #333333 !important;
   }
::ng-deep  #mat-form-field-label  .mat-form-field-appearance-legacy .mat-form-field-label .mat-form-field-appearance-legacy .mat-form-field-label{
    /*change color of label*/
    color: #333333 !important;
   }

   ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
    color: #333333;
}
  
   ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: #333333 !important;
  } 
  
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
    /* Styles */
    .modal5{
        

    }
}
    
@media (min-width: 576px){
    .modal-dialog-5 {
        max-width: 850px;
        margin: 1.75rem auto;
    }
}

.faq-text {
    color: #6a6a6a;
    font-weight: 300;
    padding-top: 10px;
}

.title-faq{
    color: #adc910; text-transform: uppercase; font-size: 16px;
}
.dn{
    display: none;
}

.container-faq{
    padding: 25px 25px 0px 25px;
}