<!--The content below is only a placeholder and can be replaced.-->
<div class="bg-img">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

      <header class="masthead mb-auto">
        <div class="inner div-nav">
          <div class="pic-div">
            <img class="logo-img" src="../assets/LOGO_1.png"/>
          </div>
          <div style="display: flex;">
            <div class="menu-name-label">
              <div class="nav-labels  container-login"> <a class="login" href="https://app.diversidademais.com.br">LOGIN</a></div>
            </div>
            <div class="menu-name-label" style="margin-left: 20px;">
              <div class="nav-labels  container-login"> <a class="login" href="" >PERGUNTAS E RESPOSTAS</a></div>
            </div>
          </div>
        </div>
      </header>
      <main role="main" class="inner cover">
        <h1 class="cover-heading">ESCOLHA UMA DAS OPÇÕES ABAIXO</h1>
        <div class="radios" >
          <mat-radio-group class="interno-radio" [(ngModel)]="favoriteSeason">
            <mat-radio-button class="btnRadio" *ngFor="let season of seasons" [value]="season" data-toggle="modal" data-target="#modalExemplo">
              {{season}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
          
      </main>
      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p class="footer-text">Todos os direitos reservados.</p>
        </div>
      </footer>
    </div>
  
  </div>
    <!-- Modal -->
    <div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" style="color: #adc910;" id="exampleModalLabel">{{favoriteSeason}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body modal-font">
              Você autoriza nosso sistema utilizar seus dados para fazer contato futuro ou utilizá-los para fins de pesquisa? 
          </div>
          <div *ngIf="favoriteSeason == 'RECEBER UMA LIGAÇÃO DA NOSSA CENTRAL'" class="modal-footer">
            <button type="button" style="padding: 10px 35px;" class="btn btn-secondary" data-dismiss="modal" data-toggle="modal" data-target="#modalExemplo2">NÃO</button>
            <button type="button" style="padding: 10px 35px;" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#modalExemplo3">SIM</button>
          </div>
          <div *ngIf="favoriteSeason == 'PREENCHER O QUESTIONÁRIO PCD'"  class="modal-footer">
            <button type="button" style="padding: 10px 35px;" class="btn btn-secondary" data-dismiss="modal" data-toggle="modal" data-target="#modalExemplo2">NÃO</button>
            <a type="button" style="padding: 10px 35px;" class="btn btn-primary" href="https://app.diversidademais.com.br">SIM</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal2 Obrgado pela interacao-->
    <div class="modal fade" id="modalExemplo2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          
          <div class="modal-body modal-font" style="text-align: center;">
            Obrigado pela sua interação
          </div>
          <div class="modal-footer2">
            <button type="button" style="padding: 10px 35px;" class="btn btn-primary" data-dismiss="modal">FECHAR</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modalExemplo4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="height: 260px; padding: 20px;">
          
          <div class="modal-body modal-font" style="text-align: center;">
            <span style="font-size: 30px; font-weight: bold;">{{userName}}</span><br/>Você receberá uma ligação em<br/>alguns minutos.
          </div>
          <div class="modal-footer2">
            <button type="button" style="padding: 10px 35px;" class="btn btn-primary" data-dismiss="modal">FECHAR</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal3 - Cadastro de Nome e Email -->
    <div class="modal fade" id="modalExemplo3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" style="color: #adc910;" id="exampleModalLabel">Preencha abaixo com seu dados</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          <form [formGroup]="emailForm" class="example-form" (ngSubmit)="callMe(emailForm)">
          <div class="modal-body modal-font" style="text-align: center;">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Favorite food" formControlName="name"  #name="matInput" placeholder="Nome">
              </mat-form-field>
              <label style="font-size: 11px; text-align: left; color: red; width: 100%; padding: 0px 0px 21px 0px;" *ngIf="nameError">É necessário preencher o campo Nome</label>

              <mat-form-field class="example-full-width">
                <input matInput placeholder="Telefone"  maxlength="15" mask="(AA) AAAAA-AAAA" formControlName="phone" #phone="matInput" style="color: #333333; ">
              </mat-form-field>
              <label style="font-size: 11px; text-align: left; color: red; width: 100%; padding: 0px 0px 21px 0px;" *ngIf="phoneError">É necessário preencher o campo Telefone</label>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="CPF"  maxlength="15" mask="AAA.AAA.AAA-AA" formControlName="cpf" #phone="matInput" style="color: #333333; ">
              </mat-form-field>
              <label style="font-size: 11px; text-align: left; color: red; width: 100%; padding: 0px 0px 21px 0px;" *ngIf="cpfError">É necessário preencher o campo CPF</label>
            </div>
            <div class="modal-footer2">
              <button type="submit" style="padding: 10px 35px;" class="btn btn-primary">ENVIAR</button>
            </div>
          </form>
        </div>
      </div>
    </div>
<router-outlet></router-outlet>
