<!--The content below is only a placeholder and can be replaced.-->
<div class="bg-img">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

      <header class="masthead mb-auto">
        <div class="inner div-nav">
          <div class="pic-div">
            <img class="logo-img" src="../assets/LOGO_1.png"/>
          </div>
          <div class="menu-name-label">
            <div class="nav-labels  container-login"> <a class="login" href="https://app.pcdweb.com.br">LOGIN</a></div>
          </div>
        </div>
      </header>
      <main role="main" class="inner cover">
        <h1 class="cover-heading">ESCOLHA UMA DAS OPÇÕES ABAIXO</h1>
        <div class="radios" >
          <mat-radio-group class="interno-radio" [(ngModel)]="favoriteSeason">
            <mat-radio-button class="btnRadio" *ngFor="let season of seasons" [value]="season" data-toggle="modal" data-target="#modalExemplo">
              {{season}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
          
      </main>
      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p class="footer-text">Todos os direitos reservados.</p>
        </div>
      </footer>
    </div>
  
  </div>
    <!-- Modal -->
    <div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" style="color: #adc910;" id="exampleModalLabel">{{favoriteSeason}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body modal-font">
              Você autoriza nosso sistema utilizar seus dados para fazer contato futuro ou utilizá-los para fins de pesquisa? 
          </div>
          <div *ngIf="favoriteSeason == 'RECEBER UMA LIGAÇÃO DA NOSSA CENTRAL'" class="modal-footer">
            <button type="button" style="padding: 10px 35px;" class="btn btn-secondary" data-dismiss="modal" data-toggle="modal" data-target="#modalExemplo2">NÃO</button>
            <button type="button" style="padding: 10px 35px;" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#modalExemplo3">SIM</button>
          </div>
          <div *ngIf="favoriteSeason == 'PREENCHER O QUESTIONÁRIO PCD'"  class="modal-footer">
            <button type="button" style="padding: 10px 35px;" class="btn btn-secondary" data-dismiss="modal" data-toggle="modal" data-target="#modalExemplo2">NÃO</button>
            <a type="button" style="padding: 10px 35px;" class="btn btn-primary" href="https://app.pcdweb.com.br">SIM</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal2 Obrgado pela interacao-->
    <div class="modal fade" id="modalExemplo2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          
          <div class="modal-body modal-font" style="text-align: center;">
            Obrigado pela sua interação
          </div>
          <div class="modal-footer2">
            <button type="button" style="padding: 10px 35px;" class="btn btn-primary" data-dismiss="modal">FECHAR</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal3 - Cadastro de Nome e Email -->
    <div class="modal fade" id="modalExemplo3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          
          <div class="modal-body modal-font" style="text-align: center;">
              <p>Preencha abaixo com seu dados</p>
            <form [formGroup]="emailForm" class="example-form">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Favorite food" formControlName="name"  #name="matInput" placeholder="Nome">
                  </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Email" [formControl]="emailFormControl" formControlName="email" #email="matInput" style="color: #333333; "
                       [errorStateMatcher]="matcher">
                <!-- <mat-hint style="color: #333333;" >Errors appear instantly!</mat-hint> -->
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                  Insira um e-mail válido
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                  Email é <strong>requerido</strong>
                </mat-error>
              </mat-form-field>
            </form>
          </div>
          <div class="modal-footer2">
            <button type="button" style="padding: 10px 35px;" class="btn btn-primary" data-dismiss="modal" (click)="sendEmail()">ENVIAR</button>
          </div>
        </div>
      </div>
    </div>
<router-outlet></router-outlet>
